<html>
  <head>
    <title>Thêm phòng khám bạn biết</title>
  </head>
<body>


  <h3> Đóng góp dữ liệu phòng khám </h3>
  <%= form_for Clinic.new do |f| %>
    <div class = "input-field">
      <%= f.text_field :name %>
      <%= f.label :name %>
    </div>

    <div class = "input-field">
      <%= f.text_field :address, placeholder: ''%>
      <%= f.label :address %>
    </div>
      <%= f.hidden_field :latitude, id: 'map-lat', value: "" %>
      <%= f.hidden_field :longtitude, id: 'map-lng', value: "" %>
    <div> Add location on map: </div>
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>

    <br/>

    <div><%= f.submit "Create", class: "btn waves-effect waves-light" %></div>
  <% end %>

  <script src= 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCHC3pq8j8gzrqJhbjcZZALu1_UwYsjhSE&callback=initMapWithCurLoc' >
        $(document).ready(function() {
            initMapWithCurLoc();

         });
  </script>
</body>

</html>
