<div class="row">
  <div class="doctor col s12 m4">
    <div class="card">
      <div class="card-image">
        <%= image_tag @clinic.photo_or_default, class: 'doctor-avatar' %>
      </div>
      <div class="card-content">
        <h6><i class="material-icons">home</i><%= @clinic.name %></h6>
        <h6><i class="material-icons">place</i><%= @clinic.address %></h6>
        <h6><i class="material-icons">phone</i><%= @clinic.phone %></h6>
        <%= hidden_field_tag "clinic-name", @clinic.name %>
        <%= hidden_field_tag "map-lat", @clinic.latitude %>
        <%= hidden_field_tag "map-lng", @clinic.longtitude  %>
      </div>
    </div>
  </div>
  <div class="col s12 m8">
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>
<script>
<%#TODO: Load this script only when page are loaded and lat and long are set for hidden_field_tag%>
$(document).on('turbolinks:load', function() {
  lat_val = $('input[id=map-lat]').val();
  lng_val = $('input[id=map-lng]').val();
  name = $('input[id=clinic-name]').val();
  loadMapWithOneLoc(lat_val,lng_val,name);
});
</script>