<div class="row">

  <br><h4>Thông tin bác sĩ</h4>
  <p>Cập nhật thông tin bác sĩ</p>
  <br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <%= devise_error_messages! %>
    <br>

    <div class="input-field">
      <%= f.text_field :name, autofocus: true %>
      <%= f.label :name %>
    </div>

    <div class="input-field">
      <%= f.email_field :email %>
      <%= f.label :email %>
    </div>

    <div class="input-field">
      <%= f.label :phone %>
      <%= f.number_field :phone %>
    </div>

    <div class="input-field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="file-field input-field">
      <div class="btn">
        <span>Upload Avatar</span>
        <%= f.file_field :avatar %>
      </div>
      <div class="file-path-wrapper">
        <%= f.text_field :avatar, class: "file-path validate" %>
      </div>
    </div>


    <div class="file-field input-field">
      <div class="btn">
        <span>Upload Certificate</span>
        <%= f.file_field :certificate %>
      </div>
      <div class="file-path-wrapper">
        <%= f.text_field :certificate, class: "file-path validate" %>
      </div>
    </div>


    <div class="input-field">
      <%= f.label :expertise %>
      <%= f.text_field :expertise %>
    </div>

    <div class="input-field">
      <%= f.label :certificate %>
      <%= f.text_field :certificate %>
    </div>

    <div class="input-field">
      <%= f.label :avatar %>
      <%= f.text_field :avatar %>
    </div>

    <div class="text-field">
      <%= f.label :description %>
      <%= f.text_area :description, class: "materialize-textarea" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <h5>Change your password</h5>
    <p>If you not plan to do so, you could ignore these fields and leave them empty</p>

    <div class="input-field">
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password %>
    </div>

    <div class="input-field">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.label :password_confirmation %>
    </div>

    <h5>Verify updates
      <a href="javascript:void(0)" class="tooltipped" data-position="bottom"
        data-tooltip="Enter current password as a verification for update">
          <i class="material-icons">info_outline</i>
      </a>
    </h5>

    <div class="input-field">
      <%= f.password_field :current_password, autocomplete: "off", required: true %>
      <%= f.label :current_password %>
    </div>

    <div class="input-field form-actions">
      <%= f.button "Update", class: "waves-effect waves-light btn", type: "submit" %>
      <br><br>
    </div>
<<<<<<< 13fccfeeb58ceab0180ab46c81d84aeae790ed8d
  <% end %>
</div>
=======
    
        <div class="file-field input-field">
          <div class="btn">
            <span>Upload Avatar</span>
            <%= f.file_field :avatar %>
          </div>
          <div class="file-path-wrapper">
            <%= f.text_field :avatar, class: "file-path validate" %>
          </div>
        </div>


        <div class="file-field input-field">
          <div class="btn">
            <span>Upload Certificate</span>
            <%= f.file_field :certificate %>
          </div>
          <div class="file-path-wrapper">
            <%= f.text_field :certificate, class: "file-path validate" %>
          </div>
        </div>

        

  
