<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#doctor_tab">Bác sĩ</a></li>
        <li class="tab col s3"><a href="#clinic_tab">Phòng khám</a></li>
      </ul>
    </div>
    <div id="doctor_tab" class="col s12">
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
				<%= devise_error_messages! %>

				<h5>Personal Information</h5>
				<p>Update your information. Leave it if you dont want to change.</p>

				<div class="input-field">
					<%= f.text_field :name, autofocus: true %>
					<%= f.label :name %>
				</div>

				<div class="input-field">
					<%= f.email_field :email %>
					<%= f.label :email %>
				</div>

				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
					<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				<% end %>

				<h5>Change your password</h5>
				<p>If you not plan to do so, you could ignore these fields and leave them empty</p>

				<div class="input-field">
					<%= f.password_field :password, autocomplete: "off" %>
					<%= f.label :password %>
				</div>

				<div class="input-field">
					<%= f.password_field :password_confirmation, autocomplete: "off" %>
					<%= f.label :password_confirmation %>
				</div>

				<h5>Verify updates
					<a href="javascript:void(0)" class="tooltipped" data-position="bottom"
						data-tooltip="Enter current password as a verification for update">
						<i class="material-icons">info_outline</i>
					</a>
				</h5>

				<div class="input-field">
					<%= f.password_field :current_password, autocomplete: "off", required: true %>
					<%= f.label :current_password %>
				</div>

				<div class="input-field form-actions">
					<%= f.button "Update", class: "waves-effect waves-light btn", type: "submit" %>
					<br><br>
				</div>
			<% end %>
		</div>
    <div id="clinic_tab" class="col s12">
			<h5>Lịch làm việc của bác sĩ</h5>
			<p>Danh sách phòng khám</p>
				 <ul class="collection">
					<li class="collection-item">
						<div class="col s6"><%= link_to "Phòng khám tại nhà bác sĩ Hoa Súng", "#" %></div>
						<div class="col s6"><%= link_to "Xoá", "#" %></div>
					</li>
    		</ul>
				<div class="row">
						<form class="col s12">
							<div class="row">
								<div class="input-field col s6">
									<input placeholder="Placeholder" id="first_name" type="text" class="validate">
									<label for="first_name">First Name</label>
								</div>
								<div class="input-field col s6">
									<input id="last_name" type="text" class="validate">
									<label for="last_name">Last Name</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input disabled value="I am not editable" id="disabled" type="text" class="validate">
									<label for="disabled">Disabled</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input id="password" type="password" class="validate">
									<label for="password">Password</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input id="email" type="email" class="validate">
									<label for="email">Email</label>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									This is an inline input field:
									<div class="input-field inline">
										<input id="email" type="email" class="validate">
										<label for="email" data-error="wrong" data-success="right">Email</label>
									</div>
								</div>
							</div>
						</form>
					</div>
		</div>
  </div>


<!-- Not needed
<h3>Cancel my account</h3>
<p>Unhappy?
<%= button_to "Cancel my account", registration_path(resource_name),
  data: { confirm: "Are you sure?" },
  method: :delete %>
</p> -->

<script type="text/javascript">
$(document).on('turbolinks:load', function() {
  Materialize.updateTextFields();
	$('ul.tabs').tabs('select_tab', 'tab_id');
});
</script>
