<h5>Uber Doctor</h5>
<div>
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <h6>You are now available for home service. Service cost is 
            <span class="red-text text-darken-2"><b>
            <%= number_to_currency(@uberfee.fee, unit: 'VND ', precision: 0) %></b></span>
          </h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p>User Address:</p> <%= text_field_tag :user_request_address,nil,placeholder:"",class:"form-control"%>
      </div>  
    </div>
    <div class="row">
      <div class="col s5">
      User Name: <%= text_field_tag :user_request_name,nil,placeholder:"",class:"form-control"%>
      <%= hidden_field_tag :user_request_lat, value: "" %>
      <%= hidden_field_tag :user_request_lng, value: "" %>
      <%= hidden_field_tag :user_request_id, value: "" %>
      </div>
      <div class="col s5">
      User Phone: <%= text_field_tag :user_request_phone,nil,placeholder:"",class:"form-control"%>
      </div>
      <div class="col s2">
      <%= submit_tag "confirm",class:"btn btn-primary",onclick:"confirmUberBooking(#{current_doctor.id},'#{current_doctor.name}')"%>
      </div>
    </div>
  </div>
</div>
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
      <%= hidden_field_tag :uber_lat, value: "" %>
      <%= hidden_field_tag :uber_lng, value: "" %>
      <%= hidden_field_tag :uber_name, "#{current_doctor.name}" %>
      <%= hidden_field_tag :uber_id, "#{current_doctor.id}" %>
      <%= hidden_field_tag :uber_cost, "#{@uberfee.fee}" %>
      <%= hidden_field_tag :uber_avatar, "#{current_doctor.avatar}" %>
      <%= hidden_field_tag :doctor_current_loc,nil,placeholder:"",class:"form-control"%>
</div>
<script>
$(document).ready(function() {  
  startDoctorUber();
});
</script>