<h5>Uber Doctor</h5>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <h6>You are now available for home service. Service cost is 
            <span class="red-text text-darken-2"><b>
            <%= number_to_currency(@uberfee.fee, unit: 'VND ', precision: 0) %></b></span>
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <label id="user_request_avail"></label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p6>User Address: <label id="user_request_address"></label></h6>
      </div>  
    </div>
    <div class="row">
      <div class="col s5">
        User Name: <label id="user_request_name"></label>
      </div>
      <div class="col s5">
        User Phone:<label id="user_request_phone"></label>
      </div>
      <%= hidden_field_tag :user_request_lat, value: "" %>
      <%= hidden_field_tag :user_request_lng, value: "" %>
      <%= hidden_field_tag :user_request_id, value: "" %>
      <div class="col s2">
        <%= submit_tag "confirm",class:"btn btn-primary",onclick:"confirmUberBooking(#{current_doctor.id},'#{current_doctor.name}')"%>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <label id="transaction_status"></label>
      </div>
    </div>
  </div>
</div>

    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
    <label id="uber_doctor_avais"></label>
      <%= hidden_field_tag :uber_lat, value: "" %>
      <%= hidden_field_tag :uber_lng, value: "" %>
      <%= hidden_field_tag :uber_name, "#{current_doctor.name}" %>
      <%= hidden_field_tag :uber_id, "#{current_doctor.id}" %>
      <%= hidden_field_tag :uber_cost, "#{number_to_currency(@uberfee.fee, unit: 'VND ', precision: 0)}" %>
      <%= hidden_field_tag :uber_avatar, "#{current_doctor.avatar}" %>
      <%= hidden_field_tag :doctor_current_loc,nil,placeholder:"",class:"form-control"%>
<script>
$(document).ready(function() {  
  startSimulatorUber();
});
</script>