<h5>Hello Dr. <%=current_doctor.name%>! You are now available for home visit service!</h5>

<div class="row">
  <div class="col s12">
    <div class="row" hidden="true">
      <div class="col s12">
        <h6>You are now available for home service. Service cost is 
            <span class="red-text text-darken-2"><b>
            <%= number_to_currency(@uberfee.fee, unit: 'VND ', precision: 0) %></b></span>
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12" hidden="true">
        <label id="user_request_avail"></label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card hidden" id="user_request_uber_card">
          <div class="card-content">
            <span class="card-title">New request</span>
            <p><i class="material-icons">person_pin</i><span id="user_request_name"></span></p>
            <p><i class="material-icons">call</i><span id="user_request_phone"></span></p>
            <p><i class="material-icons">place</i><span id="user_request_address"></span></p>
          </div>
          <div class="card-action" id="card_action_uber_confirm">
            *Confirm now to accept this request<%= submit_tag "confirm",id:"btn_uber_confirm",onclick:"confirmUberBooking(#{current_doctor.id},'#{current_doctor.name}')",:class => "hidden btn btn-small"%>
          </div>
        </div>
      </div>
    </div>
      <%= hidden_field_tag :user_request_lat, value: "" %>
      <%= hidden_field_tag :user_request_lng, value: "" %>
      <%= hidden_field_tag :user_request_id, value: "" %>
    <div class="row">
      <div class="col s10 hidden">
        <label id="transaction_status"></label>
      </div>
    </div>
  </div>
</div>

    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
    <label id="uber_doctor_avais" class="hidden"></label>
      <%= hidden_field_tag :uber_lat, value: "" %>
      <%= hidden_field_tag :uber_lng, value: "" %>
      <%= hidden_field_tag :uber_name, "#{current_doctor.name}" %>
      <%= hidden_field_tag :uber_id, "#{current_doctor.id}" %>
      <%= hidden_field_tag :uber_cost, "#{number_to_currency(@uberfee.fee, unit: 'VND ', precision: 0)}" %>
      <%= hidden_field_tag :uber_avatar, "#{current_doctor.avatar}" %>
      <%= hidden_field_tag :doctor_current_loc,nil,placeholder:"",class:"form-control"%>
<script>
$(document).ready(function() {  
  startSimulatorUber();
});
</script>