<br>
<h3 class="center-align">Uber Doctor</h3>
<p id="user-description" style="color: #999">Please pick a doctor on the map below.</p>
  <div class="col s10">
    <label id="user_request_address" hidden="true"></label>
  </div>
  <div class="col s12">
    <label id="uber_doctor_avais" hidden="true"></label>
  </div>
<div class="row">
  <div class="col s12">
    <div class="card hidden" id="uber_take_request_card">
      <div class="card-content">
        <span class="card-title">Doctor info</span>
        <p><i class="material-icons">person_pin</i><span id="selected_uber_doctor"></span></p>
        <p><i class="material-icons">attach_money</i><span id="selected_uber_doctor_price"></span></p>
      </div>
      <div class="card-action hidden" id="card_action_response_uber">
        <p id="uber_doctor_confirm"></p>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col s3">
    <%= submit_tag "Confirm", id:"btn_confirm", :onclick => "responseToConfirm(true);", :class => "hidden btn btn-small" %>
  </div>
  <div class="col s3">
    <%= submit_tag "Reject", id:"btn_reject", :onclick => "responseToConfirm(false);", :class => "hidden btn btn-small" %>
  </div>
</div>
<%= hidden_field_tag :uber_doctor_loc,nil,placeholder:"",class:"form-control"%>
<%= hidden_field_tag :user_request_id,current_user.id,placeholder:"",class:"form-control"%>
<%= hidden_field_tag :user_request_name,current_user.name,placeholder:"",class:"form-control"%>
<%= hidden_field_tag :user_request_phone,current_user.phone,placeholder:"",class:"form-control"%>
<%= hidden_field_tag :user_request_lat,nil,placeholder:"",class:"form-control"%>
<%= hidden_field_tag :user_request_lng,nil,placeholder:"",class:"form-control"%>

<div id="map-container">
  <div id="map-canvas"></div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">My request</span>
        <br>
        <span><i class="material-icons">attach_money</i>
        <%= number_field_tag :my_budget,0,placeholder:"0",class:"form-control"%></span>
        <span>
        <i class="material-icons">assignment</i>
        <%= text_field_tag :my_symthom," ", placeholder:"describe your symthom here...", class:"form-control"%>
        <span>
        <span id="user_raise_request_status"></span>
      <div class="card-action" id="card_action_response_uber">
        <%= submit_tag "request", class: "btn btn-small", :onclick => "userRaiseRequest();"%>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <%= hidden_field_tag :selected_uber_doctor_id,nil,placeholder:"",class:"form-control"%>
    <%= hidden_field_tag :selected_uber_doctor_lat,nil,placeholder:"",class:"form-control"%>
    <%= hidden_field_tag :selected_uber_doctor_lng,nil,placeholder:"",class:"form-control"%>
  </div>
</div>
<script src= 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCHC3pq8j8gzrqJhbjcZZALu1_UwYsjhSE&callback=initMapUserViewUber' >
$(document).ready(function() {
  initMapUserViewUber();
  $("#btn_confirm").prop("hidden", true);
  $("#btn_reject").prop("hidden", true);
});
</script>
