<h5>Doctor available for home service</h>
<div class="row">
  <div class="col s12">
  <%= label_tag "Your current address",nil,placeholder:"",class:"form-control"%>
  <%= text_field_tag :user_request_address,nil,placeholder:"",class:"form-control"%>
  </div>
</div>
<%= hidden_field_tag :uber_doctor_loc,nil,placeholder:"",class:"form-control"%>
<%= hidden_field_tag :user_request_id,current_user.id,placeholder:"",class:"form-control"%>
<%= hidden_field_tag :user_request_name,current_user.name,placeholder:"",class:"form-control"%>
<%= hidden_field_tag :user_request_phone,current_user.phone,placeholder:"",class:"form-control"%>
<%= hidden_field_tag :user_request_lat,nil,placeholder:"",class:"form-control"%>
<%= hidden_field_tag :user_request_lng,nil,placeholder:"",class:"form-control"%>
<div id="map-container">
  <div id="map-canvas"></div>
</div>
<div class="row">
  <div class="col s12">
    <div class="col s6">
    <%= text_field_tag :selected_uber_doctor,nil,placeholder:"",class:"form-control"%>
    <%= hidden_field_tag :selected_uber_doctor_id,nil,placeholder:"",class:"form-control"%>
    </div>
    <div class="col s4">
    <%= text_field_tag :uber_doctor_confirm,nil,placeholder:"",class:"form-control"%>
    </div>
  </div>
</div>
<script src= 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCHC3pq8j8gzrqJhbjcZZALu1_UwYsjhSE&callback=initMapUserViewUber' >
$(document).ready(function() {
    initMapUserViewUber();
  });
</script>