<div class="row s12">
				<div class="col s6">
          <div class="card horizontal">
            <div class="card-image">
              <img src="http://lorempixel.com/100/190/people/3">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><i class="material-icons">face</i><%= booking.patient ? booking.patient.name : booking.user.name %></p>
                <p><i class="material-icons">date_range</i><%= booking.patient ? booking.patient.age : '' %> years old
                </p>
                <p><i class="material-icons">accessibility</i><%= booking.patient ? booking.patient.gender_title : '' %></p>
                <p><i class="material-icons">assignment</i><%= booking.symthom %></p>
                <% if booking.patient %>
                  <span class="red-text text-darken-2">
                    <%= booking.user.name %> has shared medical records of
                    <b> <%= patient.name %> </b>with you. <%= link_to "View records now",patient_doctor_view_path(patient.id) %>
                  </span>
                <%end%>
              </div>
            </div>
          </div>
        </div>
				<div class="col s6">
          <div class="collection">
            <span>
              <div class="collection-item">
                <span class="text-darken-2">
                  <i class="material-icons">alarm_on</i><%= link_to booking.start_at.strftime("%d/%m/%Y at %I:%M%p"),doctor_gig_doctor_view_path(@booking.gig.doctor_id,@booking.gig_id) %>
                  <% if booking.status.to_i == 2 %>
                  <span class="new badge blue" data-badge-caption="VERIFIED "+<%=booking.confirm_code%>></span>
                  <% end %>
                </span>
              </div>
              <div class="collection-item">
                <i class="material-icons">monetization_on</i><%= number_to_currency(booking.price, unit: "VNĐ", separator: ",", delimiter: ".", format: "%n %u") %> 
                <span class="new badge" data-badge-caption="Total cost"></span>
              </div>
              <div class="collection-item">
                <i class="material-icons">add_shopping_cart</i> <%= number_to_currency(booking.deposit, unit: "VNĐ", separator: ",", delimiter: ".", format: "%n %u") %>
              <% if booking.status.to_i==1 %>
                <i class="material-icons">check_circle</i><%= booking.status.to_i==0?'Not paid':'Paid' %>
              <% end %> 
                <span class="new badge" data-badge-caption="Booking fee"></span> 
              </div>
              <div class="collection-item">
                <i class="material-icons">attach_money</i> <%= number_to_currency(booking.price - booking.deposit, unit: "VNĐ", separator: ",", delimiter: ".", format: "%n %u") %> 
                <span class="new badge" data-badge-caption="Remains"></span> 
              </div>
            </span>
          </div>
		  	</div>
  </div>