<h5>Booking information</h5>
<div class="col">
    <% if @booking.status == "1"%>
    <div class="row">
      <div class="col s6">
      <div class="card">
        <%= form_tag booking_view_checked_path(@booking.id), :method => 'get' do%>
          <div class="card-content">
            <span class="card-title">Verify booking code</span>
            <div><%= text_field_tag :confirm_code %></div>    
            <div class="card-action">
              <%= submit_tag "Verify", {class: "btn waves-effect waves-light",:name => nil,:onclick => "return verify_code('#{@booking.confirm_code}')"}  %>
            </div>
          </div>
        <% end %>
      </div>
      </div>
    </div>
    <% elsif @booking.status == "2" %>
    <div class="row s12">
      <div class="col s12">
      <div class="card">
      <%= form_tag booking_add_prescription_path(@booking.id), :method => 'get',:id => "add_prescription_form" do %>
        <div class="card-content">
          <span class="card-title">Treatment info</span>
          <br><%= hidden_field_tag :booking_id, @booking.id %>
          Prescription: <%= text_area_tag :prescription, @booking.prescription, :class => "materialize-textarea"%>       
          <div class="card-action">
            <%= link_to 'Update prescription', "", :onclick => "$('#add_prescription_form').submit()",:class => "btn" %>
          </div>
        </div>
      <% end %>
      </div>
      </div>
    </div>
    <% end %>
  <div class="row s12">
    <div class="col s12">
    <%=render partial: "booking_details", locals:{booking: @booking,patient: @patient} %>
    </div>
  </div>
</div>
<script>
function verify_code(correct_code){
  inputcode = $('input[id=confirm_code]').val();
  if(inputcode == correct_code)
    return true;
  else
  {
    swal("Incorrect code!", "The verification code is not correct!", "error")
    return false;
  }
}
</script>