<%= form_tag booking_create_patient_path(booking.id),:method => 'get' do %>
<div class="row">
  <div class="col s12">
    <div class="row">
      <h5>Người được khám</h5>
    </div>
    <div class="row">
      <div class="input-field col s4">
          Tên <%= text_field_tag :patient_name,"#{booking.patient ? booking.patient.name : booking.user.name}",:required => true %>
      </div>
      <div class="input-field col s4">
          Ngày sinh<%= date_field_tag :dob, "#{booking.patient ? booking.patient.dob : '01/01/2010'}", class: 'datepicker', placeholder:'01/01/2010', :required => true%>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s2">
        Giới tính<%= select_tag :gender, raw("<option value='1'>Nữ</option><option value='2'>Nam</option>"), :required => true%>
      </div>
      <div class="input-field col s6">
          Địa chỉ <%= text_field_tag :address,"#{booking.patient ? booking.patient.address : ''}",:required => true %>
      </div>
    </div>
      <div class="row">
        <div class="input-field col s8">
          Lý do khám / Triệu chứng<textarea id="symthom" name="symthom" class="materialize-textarea"><%= "#{booking.symthom}"%></textarea>
        </div>
      </div>
  </div>
  <div class="col s12">
    <%= submit_tag "Thêm thông tin", class: "waves-effect waves-light btn", type: "submit" %>
    <br><br>
  </div>
</div>
<% end %>