<div class="row">
    <div class="col s12 m6 l5 offset-m1 offset-l1">
        <div class="collection">
          <span>
          <div class="collection-item">
          <h5>Booking details</h5>
          </div>
            <div class="collection-item">
              <span class="text-darken-2">
                <i class="material-icons">alarm_on</i><%= link_to booking.start_at.strftime("%d/%m/%Y at %I:%M%p"),doctor_gig_client_view_path(booking.gig.doctor_id,booking.gig_id) %>
              </span>
            </div>
            <div class="collection-item">
              <i class="material-icons">monetization_on</i><%= number_to_currency(booking.price, unit: "VNĐ", separator: ",", delimiter: ".", format: "%n %u") %>
              <span class="new badge" data-badge-caption="Total cost"></span>
            </div>
            <div class="collection-item">
              <i class="material-icons">add_shopping_cart</i> <%= number_to_currency(booking.deposit, unit: "VNĐ", separator: ",", delimiter: ".", format: "%n %u") %>
            <% if booking.status.to_i>0 %>
              <i class="material-icons">check_circle</i><%= booking.status.to_i==2?'Used':'Paid' %>
            <% end %>
              <span class="new badge" data-badge-caption="Booking fee"></span>
            </div>
          </span>
        </div>

    </div>
    <div class="col s12 m6 l5">

          <div class="collection">
            <span>
            <div class="collection-item">
            <h5>Clinic details</h5>
            </div>
              <div class="collection-item">
                <span class="text-darken-2">
                  <i class="material-icons">home</i><%= link_to booking.gig.clinic.name, clinic_path(booking.gig.clinic_id) %>
                </span>
              </div>
              <div class="collection-item">
                <i class="material-icons">account_circle</i><%= link_to booking.gig.doctor.name, doctor_path(booking.gig.doctor_id) %>
              </div>

              <div class="collection-item">

                <i class="material-icons">card_membership</i>
                <% if booking.confirm_code %>
                <b style="font-size: 16px"><%= booking.confirm_code %></b>
                <span class="new badge red" data-badge-caption="Confirmation code"></span>
                <% else %>
                  <p style="color: #999; font-size: 12px"></p>
                <% end %>
              </div>

              <% if booking.patient %>
              <div class="collection-item">
                <i class="material-icons">assignment</i><%= link_to "Xem chi tiết",booking_user_review_path(booking.id)%>
              </div>
              <% end %>
          </span>
        </div>
    </div>
</div>
