<div class="col s12 m4">
  <div class="card">

    <div class="card-content">

      <!-- AVATAR AND NAME -->
      <div class="row">
        <div class="col s4">
          <img src="http://lorempixel.com/400/400/people" style="width: 100px; height: 100px; border-radius: 50%;"/>
        </div>
        <div class="col s8">
          <h4><%= doctor.name %></h4>
          <p>
            <%= doctor.expertise %>
          </p>
        </div>
      </div>

      <!-- INFO -->
      <!-- RATING GOES HERE -->
      <!-- COMMENT GOES HERE -->
      <!-- STATUS GOES HERE -->

      <!-- SCHEDULE -->
      <% unless doctor.available_schedules.length <= 0 %>
        <ul class="collection">
          <% doctor.available_schedules.take(3).each do |schedule| %>
            <li class="collection-item">
              <% wd_name = schedule.weekday + 1 %>
              <% wd_name = 'Chủ nhật' if schedule.weekday == 0 %>
              <strong>Thứ <%= wd_name %> - </strong> từ <strong><%= schedule.start_at %></strong> đến <strong><%= schedule.end_at %></strong>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>

    <div class="card-action">
      <%= link_to 'Thông tin', doctor_path(doctor) %>
      <%= link_to 'Đặt khám', doctor_gig_client_view_path(doctor_id: doctor.id, gig_id: doctor.gigs.first.id), class: 'blue-text' %>
    </div>

  </div>
</div>
