<div class="col s12">
<div class="row">
	<div class="col s3">
		<div class="row">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag @gig.doctor.avatar, class: 'activator' %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><i class="material-icons">account_circle</i><%= @gig.doctor.name%><</span>
          <p><%=link_to "Xem thông tin",doctor_path(@gig.doctor.id)%></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Giới thiệu<i class="material-icons right">close</i></span>
          <p><i class="material-icons">local_hospital</i><%= @gig.doctor.expertise %></p>
          <p><%= @gig.doctor.description %></p>
        </div>
      </div>
		</div>
	</div>
  <div class="col s1">

  </div>
	<div class="col s7">
    <div class="row">
        <div class="collection">
          <span>
            <div class="collection-item">
              <span class="text-darken-2"><i class="material-icons">home</i><%= link_to @gig.clinic.name, clinic_path(@gig.clinic.id) %>
              </span>
            </div>
            <div class="collection-item">
              <i class="material-icons">place</i> <%= @gig.clinic.address %>
            </div>
            <div class="collection-item">
              <i class="material-icons">attach_money</i><%= number_to_currency(@gig.price, unit: 'VND ', precision: 0) %>
            </div>
            <div class="collection-item">
              <i class="material-icons">alarm</i><%= @gig.checkup_duration%> minutes
            </div>
          </span>
        </div>
    </div>
	</div>
</div>
</div>
<table class="highlight centered bordered">
		<% @booking_schedule.each_with_index do |data_row, index| %>
			<% if index == 0 %>
				<thead>
					<tr>
						<% data_row.each do |data_col|%>
							<th><%= data_col["display"] %></th>
						<% end %>
					</tr>
				</thead>
			<% else %>
				<% if index == 1%>
					<tbody>
				<% end %>
				<tr>
					<% data_row.each_with_index do |data_col, row_index|%>
						<% if data_col["display"].length > 0 %>
							<% if data_col["value"].length > 0 %>
                <% if data_col["value"].start_with?('you')%>
                  <td><%= link_to data_col["display"], view_my_booking_path%></td>
                <% else %>
                  <td>
                  <%= form_for Cart.new do |cart| %>
										<%= hidden_field_tag "user_id", current_user.id %>
										<%= hidden_field_tag "doctor_id", @gig.doctor.id %>
										<%= hidden_field_tag "clinic_id", @gig.clinic.id %>
										<%= hidden_field_tag "gig_id", @gig.id %>
										<%= hidden_field_tag "timeslot", data_col["value"]+" "+data_col["display"] %>
                    <button class="waves-effect waves-light btn blue" type="submit" name="action"><%=data_col["display"]%></button>
                  <% end %>
                  </td>
                <% end %>
							<% else %>
								<td><%= label_tag data_col["display"]%></td>
							<% end %>
						<% else%>
							<td></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
			</tbody>
		<% end %>
</table>

