<div class="row">
	<div class="col s6">
		<p>Thông tin bác sĩ</p>
		<div class="row">
      <div class="card small">
        <div class="card-image">
          <%= image_tag @gig.doctor.avatar, class: 'doctor-avatar' %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
          <p>Tên: <%= @gig.doctor.name%></p>
          <p>Chuyên khoa: <%= @gig.doctor.expertise %></p>
          </div>
          <div class="card-action">
          <%=link_to "Xem thông tin",doctor_path(@gig.doctor.id)%>
          </div>
        </div>
      </div>
		</div>
	</div>
	<div class="col s6">
		<p>Thông tin phòng khám</p>
		<div class="row">
				<div class="label col s6">Phòng khám: <%= @gig.clinic.name %></div>
				<div class="label col s6">Địa chỉ: <%= @gig.clinic.address %></div>
		</div>
		<div class="row">
				<div class="label col s6">Phí dịch vụ<%= number_to_currency(@gig.price, unit: 'VND ', precision: 0) %></div>
				<div class="label col s6">Phí đặt cọc giữ chỗ<%= number_to_currency(@gig.deposit, unit: 'VND ', precision: 0) %></div>
		</div>
		<div class="row">
			<div class="label col s6">Thời gian khám trung bình (phút)<%= @gig.checkup_duration%></div>
		</div>
	</div>
</div>
<p>Lịch khám - Bấm vào giờ khám để đặt</p>
<table class="highlight centered responsive-table">
		<% @booking_schedule.each_with_index do |data_row, index| %>
			<% if index == 0 %>
				<thead>
					<tr>
						<% data_row.each do |data_col|%>
							<td><%= data_col["display"] %></td>
						<% end %>
					</tr>
				</thead>
			<% else %>
				<% if index == 1%>
					<tbody>
				<% end %>
				<tr>
					<% data_row.each_with_index do |data_col, row_index|%>
						<% if data_col["display"].length > 0 %>
							<% if data_col["value"].length > 0 %>
                <% if data_col["value"].start_with?('you')%>
                  <td><%= link_to data_col["display"], view_my_booking_path%></td>
                <% else %>
                  <td>
                  <%= form_for Cart.new do |cart| %>
										<%= hidden_field_tag "user_id", current_user.id %>
										<%= hidden_field_tag "doctor_id", @gig.doctor.id %>
										<%= hidden_field_tag "clinic_id", @gig.clinic.id %>
										<%= hidden_field_tag "gig_id", @gig.id %>
										<%= hidden_field_tag "timeslot", data_col["value"]+" "+data_col["display"] %>
                    <button class="waves-effect waves-light btn blue" type="submit" name="action"><%=data_col["display"]%></button>
                  <% end %>
                  </td>
                <% end %>
							<% else %>
								<td><%= label_tag data_col["display"]%></td>
							<% end %>
						<% else%>
							<td></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
			</tbody>
		<% end %>
</table>

