<h1 class="center-align">Danh sách bác sĩ</h1>

  <div class="section">
    <div class="row">
      <!-- CITY -->
      <div class="input-field col s12 m3 l3">
        <label for="q">Nhập nội dung tìm kiếm...</label>
        <%= text_field_tag :q, nil, class: 'validate', style: 'border-bottom: 2px solid #039be5' %>
      </div>

      <div class="input-field col s4 m2 l2">
        <label for="city-filter">Thành phố</label>
          <%=
            select_tag(:city,
            options_for_select(
              [
                ['Hà Nội', 'Hà Nội'],
                ['Hồ Chí Minh', 'Hồ Chí Minh']
              ],
              params[:city] || 1),
            include_blank: true,
            id: "city-filter")
          %>
      </div>

      <!-- EXPERTISE -->
      <div class="input-field col s4 m2 l2">
        <label for="expertise-filter">Chuyên khoa</label>
        <%=
          select_tag(:expertise,
            options_for_select([ ['Nhi', 'nhi'], ['Sản', 'sản'] ],params[:expertise] || 1),
            include_blank: true,
            id: "expertise-filter")
        %>
      </div>

      <!-- SCHEDULE -->
        <div class="input-field col s4 m2 l2">
          <input name="date" type="date" class="datepicker" id="datepicker_">
          <label for="datepicker_">Ngày</label>
        </div>
        <!-- JAVASCRIPT -->
        <script type="text/javascript">
          $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
          });
        </script>

        <div class="input-field col s4 m2 l2">
          <input id="timepicker_ampm_dark" class="timepicker" type="time" name="time">
          <label for="timepicker_ampm_dark">Giờ</label>
        </div>

        <script>
        $(document).on('turbolinks:load', function() {
            $('.timepicker').pickatime({
              min: [07,00],
            max: [22,00]
            });
        });
        </script>

        <div class="input-field col s12 m1 l1" style="vertical-align: middle">
          <button class="btn white black-text" type="submit">
            <i class="material-icons">search</i>
          </button>
        </div>
    </div> <!-- end row -->

  </div> <!-- end section -->
<% end %>

<!-- LIST OF DOCTORS -->
<div class="section">
  <div class="row">
    <div class="doctors">
      <%= render partial: 'shared/doctors_card', locals: { doctors: @doctors } %>
    </div>
  </div>
</div>

<div class="divider">

</div>

<div class="clearfix">
  <%= will_paginate @doctors, :class => "digg_pagination right" %>
</div>
