<!-- FILTER -->
<div class="section">
  <div class="row">
    <!-- CITY -->
    <%= form_tag(nil, method: 'get', id: 'form-filter') do %>
      <div class="input-field col s12 m3">
          <%=
            select_tag(:city,
            options_for_select(
              [
                ['Chọn một thành phố', '', 'disable'],
                ['Hà Nội', 'hn'],
                ['Hồ Chí Minh', 'hcm']
              ],
              params[:city] || 1),
            class: "browser-default", id: "city-filter")
          %>
      </div>

      <div class="input-field col s12 m3">
        <%=
          select_tag(:expertise,
          options_for_select(
            [
              ['Chọn một chuyên khoa', '', 'disable'],
              ['Nhi', 'nhi'],
              ['Sản', 'sản']
            ],
            params[:expertise] || 1),
          class: "browser-default", id: "expertise-filter")
        %>
      </div>

      <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <%= text_field_tag :starts_at, nil, class: 'validate' %>
            <span class="input-group-addon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <script type="text/javascript">
        $(function () {
          $('#datetimepicker1').datetimepicker();
        });
        </script>
    <% end %>

    <!-- JAVASCRIPT -->
    <script type="text/javascript">
      $('#city-filter').change(function(){
        $('#form-filter').submit();
      })
    </script>
  </div> <!-- end row -->
</div> <!--end section -->

<!-- LIST OF DOCTORS -->
<div class="section">
  <div class="row">
    <div class="doctors">
      <%= render partial: 'shared/doctors_card', locals: { doctors: @doctors } %>
    </div>
  </div>
</div>
