<h1 class="center-align">Danh sách bác sĩ</h1>

<!-- QUERY SECTION -->
<%= form_tag(nil, method: 'get', remote: true, id: 'form-filter') do %>
  <div class="section">
    <div class="row">
      <!-- CITY -->
      <div class="input-field col s12 m12 l3">
        <%= text_field_tag :q, nil, class: 'validate', style: 'border-bottom: 2px solid #039be5' %>
        <label for="q">Nhập nội dung tìm kiếm...</label>
      </div>

      <div class="col s6 m6 l2">
        <label for="city-filter">Thành phố</label>
        <%=
          select_tag(:city,
          options_for_select(
            [
              ['Hà Nội', 'Hà Nội'],
              ['Hồ Chí Minh', 'Hồ Chí Minh']
            ],
            params[:city] || 1),
          include_blank: true,
          id: "city-filter", class: "browser-default")
        %>
      </div>

      <!-- EXPERTISE -->
      <div class="col s6 m6 l2">
        <label for="expertise-filter">Chuyên khoa</label>
        <%=
          select_tag(:expertise,
            options_for_select([ ['Nhi', 'nhi'], ['Sản', 'sản'] ],params[:expertise] || 1),
            include_blank: true,
            id: "expertise-filter", class: "browser-default")
        %>
      </div>

      <!-- SCHEDULE -->
        <div class="input-field col s6 m6 l2">
          <input name="date" type="date" class="datepicker" id="datepicker_">
          <label for="datepicker_">Ngày</label>
        </div>

        <div class="input-field col s6 m6 l2">
          <input id="timepicker_ampm_dark" class="timepicker" type="time" name="time">
          <label for="timepicker_ampm_dark">Giờ</label>
        </div>

        <div class="input-field col s12 m12 l1" style="vertical-align: middle">
          <button class="btn waves-effect waves-light black-text" type="submit" style="width:100%">
            <i class="material-icons">search</i>
          </button>
        </div>
    </div> <!-- end row -->

  </div> <!-- end section -->
<% end %>

<!-- LIST OF DOCTORS -->
<div class="section">
  <div class="row">
    <div class="doctors">
      <%= render partial: 'shared/doctors_card', locals: { doctors: @doctors } %>
    </div>
  </div>
</div>

<div class="divider">

</div>

<div class="clearfix">
  <%= will_paginate @doctors, :class => "digg_pagination right" %>
</div>

<script type="text/javascript">
$(document).on('turbolinks:load', function() {
    $('.timepicker').pickatime({
      min: [07,00],
      max: [22,00]
    });

    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });
});
</script>
