<h3>Users Management</h3>

<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Registered via</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.provider %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<div class="clearfix">
  <%= will_paginate @users, :class => "digg_pagination right" %>
</div>
