<div class="row">
<% if @bookings %>
	<%= form_for @cart do |cart|%>
		<% @bookings.each do |booking|%>
			<div class="row s12">
				<div class="col s6">
					<p> Phòng khám</p>
					<div class="row">
						<div class="label col">Phòng khám: <%= booking.gig.clinic.name %></div>
					</div>
					<div class="row">
						<div class="label col">Địa chỉ: <%= booking.gig.clinic.address %></div>
					</div>
					<div class="row">
						<div class="label col">Doctor Name: <%= booking.gig.doctor.name %></div>
					</div>
					<div class="row">
						<div class="label col">Doctor Name: <%= booking.gig.doctor.expertise %></div>
					</div>
			</div>
				<div class="col s6">
					<p> Lịch khám</p>
					<div class="row">
						<div class="label col">Giờ khám <%= booking.start_at %></div>
					</div>
					<div class="row">
						<div class="label col">Giá dịch vụ <%= booking.price %></div>
					</div>
					<div class="row">
						<div class="label col">Phí đặt cọc (hoàn lại) <%= booking.deposit %></div>
					</div>
					<div class="row">
						<div class="label col">Trạng thái <%= booking.status %></div>
					</div>
			</div>
		<% end %>
		<button class="btn waves-effect waves-light" type="submit" name="action">
				Thanh Toán<i class="material-icons right">send</i>
		</button>
	<% end %>
<% else %>
<p>Bạn chưa chọn lịch khám nào</p>
<% end %>
</div>