<h4>Lịch khám - Bấm vào giờ khám để đặt</h4>
<%= form_for Patient.new do |f|%>
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s6">
          <%= f.text_field :name%>
          <%= f.label :name %>
      </div>
      <div class="input-field col s6">
          <%= f.text_field :dob %>
          <%= f.label :dob %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
          <%= f.text_field :gender%>
          <%= f.label :gender %>
      </div>
      <div class="input-field col s6">
          <%= f.text_field :address %>
          <%= f.label :address %>
      </div>
    </div>
  </div>
  <div class="col s12 form-actions">
    <%= f.button "Update", class: "waves-effect waves-light btn", type: "submit" %>
    <br><br>
  </div>

</div>
<% end %>
<table class="highlight centered responsive-table">
  <% @booking_schedule.each_with_index do |data_row, index| %>
    <% if index == 0 %>
      <thead>
        <tr>
          <% data_row.each do |data_col|%>
            <td><%= data_col["display"] %></td>
          <% end %>
        </tr>
      </thead>
        </tbody>
    <% else %>
      <tr>
        <% data_row.each_with_index do |data_col, row_index|%>
          <%= hidden_field_tag "doctor_id", @gig.doctor.id %>
          <%= hidden_field_tag "clinic_id", @gig.clinic.id %>
          <%= hidden_field_tag "gig_id", @gig.id %>
          <%= hidden_field_tag "timeslot", data_col["value"]+" "+data_col["display"] %>
          <% if data_col["display"].length > 0 %>
            <% if data_col["value"].length > 0 %>
              <% if data_col["value"].start_with?('id:')%>
                <td><%= link_to data_col["display"], booking_path(data_col["value"][3..-1])%></td>
              <% else %>
                <td><%= link_to data_col["display"]%></td>
              <% end %>
            <% else %>
              <td><%= data_col["display"]%></td>
            <% end %>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    <% if index == 0%>
      </tbody>
    <% end %>
  <% end %>
</table>
<script>
$(document).ready(function() {
  $('select').material_select();
});
$('.datepicker').pickadate({
  selectMonths: true,
  selectYears: 15
});
</script>
