<div class="row">
    <div class="col s12">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <%= link_to "Thông tin bác sĩ", edit_doctor_registration_path, class: "breadcrumb"%>
            <%= link_to "Thông tin phòng khám", doctor_gigs_path(curent_doctor.id), class: "breadcrumb"%>
          </div>
        </div>
      </nav>
    </div>
    <div id="doctor_tab" class="col s12">
    </div>
    <div id="clinic_tab" class="col s12">

      <h5>Địa điểm làm việc của bác sĩ</h5>
      <%= form_for Gig.new, :url => {:controller => "gigs", :action => "create"} do |new_gig_form| %>
      <div class="row">
        <div class="col s8">
          <p>Thông tin dịch vụ</p>
          <div class="form-group">
            <label for="clinic_id">Chọn phòng khám</label>
            <div class="form-control col s12">
              <%= text_field_tag 'clinic_name', nil, class: 'typeahead', placeholder: 'gõ tên phòng khám để tìm kiếm' %>
              <%= new_gig_form.hidden_field :clinic_id %>
            </div>
          </div>
          <p>Không tìm thấy phòng khám của bác sĩ? Mời bác sĩ <%= link_to "tạo phòng khám của mình tại đây", add_clinic_page_clinics_path, method: 'get' %></p>
          <div class="form-group">
            <label for="price">Giá dịch vụ khám bệnh</label>
            <div class="input-field col s12">
              <div class="form-control"><%= new_gig_form.number_field :price%></div>
            </div>
          </div>

          <div class="form-group">
            <label for="deposit">Phí đặt cọc giữ chỗ</label>
            <div class="input-field col s12">
              <div class="form-control"><%= new_gig_form.number_field :deposit%></div>
            </div>
          </div>

          <div class="form-group">
            <label for="checkup_duration">Thời gian khám trung bình (phút)</label>
            <div class="input-field col s12">
              <div class="form-control"><%= new_gig_form.number_field :checkup_duration%></div>
            </div>
          </div>

          <button class="btn waves-effect waves-light" type="submit" name="action">Thêm phòng khám
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
      <% end %>
    </div>
</div>
<script>

  $(document).ready(function() {
      $('select').material_select();
  });

  var clinics = <%= raw @clinics.to_json %>

  var bloodhound = new Bloodhound({
      local: clinics,
      // prefetch: {
      //   url: '/clinics.json',
      // },
      identify: function(obj) { return obj.id; },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      datumTokenizer: function(datum){return Bloodhound.tokenizers.whitespace(datum.name)}
  });

  function defaultClinics(q, sync){
    if (q == ''){
      sync(bloodhound.get(1, 2, 3, 4, 5));
    } else
      bloodhound.search(q, sync);
  }

  var suggestion = Handlebars.compile(
    '<div>'+
      '<strong>'+
        '{{name}}' +
      '</strong>'+
      ' - {{ address }}' +
    '</div>'
  )

  $('.typeahead').typeahead({
    minLength: 0,
    highlight: true
  }, {
    name: 'clinics',
    display: 'name',
    source: defaultClinics,
    templates: {
      suggestion: suggestion,
      empty: ['<div>Không tìm thấy phòng khám nào</div>'].join('\n'),
    }
  });

  $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
    console.log('Selection: ' + suggestion);
    $('#gig_clinic_id').val(suggestion.id);
  });
</script>
