<div class="row">
    <div class="col s12">
      <br>
      <h5>Địa điểm làm việc của bác sĩ</h5>
      <p>Thông tin dịch vụ</p>
      <br>

      <%= form_for Gig.new, :url => {:controller => "gigs", :action => "create"} do |new_gig_form| %>

        <div class="input-field">
            <label for="clinic_id" class="active">Chọn phòng khám</label>
            <%= text_field_tag 'clinic_name', nil, class: 'typeahead' %>
            <%= new_gig_form.hidden_field :clinic_id %>
            <br>
        </div>

        <div class="input-field">
          <%= new_gig_form.number_field :price%>
          <%= new_gig_form.label :price, "Giá dịch vụ khám bệnh" %>
        </div>

        <div class="input-field">
          <%= new_gig_form.number_field :deposit%>
          <%= new_gig_form.label :deposit, "Phí đặt cọc giữ chỗ" %>
        </div>

        <div class="input-field">
          <%= new_gig_form.number_field :checkup_duration%>
          <%= new_gig_form.label :checkup_duration, "Thời gian khám trung bình (phút)" %>
        </div>

        <div class="input-field">
          <button class="btn waves-effect waves-light" type="submit" name="action">
            Thêm phòng khám
          </button>
          <br><br>
        </div>
      <% end %>
    </div>
</div>
<script>

  var clinics = <%= raw @clinics.to_json %>
  var ids = clinics.map(function(c){ return c.id })

  var bloodhound = new Bloodhound({
      local: clinics,
      // prefetch: {
      //   url: '/clinics.json',
      // },
      identify: function(obj) { return obj.id; },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      datumTokenizer: function(datum){return Bloodhound.tokenizers.whitespace(datum.name)}
  });

  function defaultClinics(q, sync){
    if (q == ''){
      sync(bloodhound.get(ids.slice(0, 5)));
    } else
      bloodhound.search(q, sync);
  }

  var suggestion = Handlebars.compile(
    '<div>'+
      '<strong>'+
        '{{name}}' +
      '</strong>'+
      ' - {{ address }}' +
    '</div>'
  )

  $('.typeahead').typeahead({
    minLength: 0,
    highlight: true
  }, {
    name: 'clinics',
    display: 'name',
    source: defaultClinics,
    templates: {
      suggestion: suggestion,
      empty: ['<div>Không tìm thấy phòng khám nào</div>'].join('\n'),
    }
  });

  $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
    console.log('Selection: ' + suggestion);
    $('#gig_clinic_id').val(suggestion.id);
  });
</script>
