<!--TODO: @Tu please help to do fix the label thing, it's overlap the value-->
<div class="row">
  <div class="col s12">
    <br>
		<% if @gig %>
      <%= form_for [current_doctor, @gig] do |f| %>
  			<div class="row">
  				<div class="col s7">
            <h4>Thông tin phòng khám</h4>

            <% hidden_field_tag :id, @gig.id%>

            <table class="highlight">
              <tbody>
                <tr>
                  <td><strong>Phòng khám:</strong></td>
                  <td><%= @gig.clinic.name %></td>
                </tr>
                <tr>
                  <td><strong>Địa chỉ:</strong></td>
                  <td><%= @gig.clinic.address %></td>
                </tr>
              </tbody>
            </table>
            <br>

            <div class="input-field">
              <%= f.label :price, "Phí dịch vụ" %>
              <%= f.number_field :price %>
            </div>

            <div class="input-field">
              <%= f.label :deposit, "Phí đặt cọc giữ chỗ" %>
              <%= f.number_field :deposit %>
            </div>

            <div class="input-field">
              <%= f.label :checkup_duration, "Thời gian khám trung bình (phút)" %>
              <%= f.number_field :checkup_duration %>
            </div>
				  </div>

  				<div class="col s4 offset-s1">
  					<h4>Lịch làm việc</h4>
            <%= link_to "Bảng đặt chỗ", doctor_gig_doctor_view_path(@gig.doctor.id,@gig.id)%>
            <br>

            <div class="row">
    					<div class="col s4 input-field">
    						<input type="checkbox" id="cb_all_week" onchange='handleChange_CbAll(this);'/>
    						<label for="cb_all_week">Cả Tuần</label>
    					</div>
    					<div class="col s4 input-field">
                <%= text_field :start_at, "start_at", class: "timepicker", placeholder: '', id:"start_all", onchange:"updateStartTime(this);"%>
    						<label for="start_all">Bắt đầu</label>
    					</div>
    					<div class="col s4 input-field">
                <%= text_field :end_at, "end_at", class: "timepicker", placeholder: '', id:"end_all", onchange:"updateEndTime(this);"%>
    						<label for="end_all">Kết thúc </label>
    					</div>
  					</div>

            <% @schedules.each do |schedule|%>
  						<%= f.fields_for schedule, index: schedule do |schedule_form| %>
  							<div class="row">
  								<div class="col s4 input-field">
  									<% if schedule.start_at.length > 0 %>
  										<input type="checkbox" id=<%=schedule.weekday%> checked="checked" onchange='handleChange_CbDay(this);'>
  									<% else %>
  										<input type="checkbox" id=<%=schedule.weekday%> onchange='handleChange_CbDay(this);'>
  									<% end %>
  									<label for="<%=schedule.weekday%>"><%= @weekday[schedule.weekday.to_i] %></label>
  									<%= schedule_form.hidden_field :weekday, id:"#{schedule.weekday}_value", value:"#{schedule.weekday}"%>
  								</div>

                  <div class="col s4 input-field">
  									<label>Bắt đầu</label>
  									<%= schedule_form.text_field :start_at, class: "timepicker", placeholder: '', id:"#{schedule.weekday}_start",value:"#{schedule.start_at}"%>
  								</div>

  								<div class="col s4 input-field">
  									<label >Kết thúc </label>
  									<%= schedule_form.text_field :end_at, class: "timepicker", placeholder: '', id:"#{schedule.weekday}_end",value:"#{schedule.end_at}" %>
  								</div>
  							</div>
  						<% end %>
  					<% end %>
          </div>

          <button class="btn waves-effect waves-light" type="submit" name="action">
            Cập nhập thông tin
          </button>
        </div>
		 <% end %>
		<% end %>
	</div>
</div>
<script>
$(document).on('turbolinks:load', function() {
    $('.timepicker').pickatime({
      min: [07,00],
      max: [22,00]
    });
});
function updateAllStartTime()
{
	var start_all = $('input[id=start_all]').val();
	$('input[id$=start]').each(function () {
		this.value = start_all;
	});
}
function updateAllEndTime()
{
		var end_all = $('input[id=end_all]').val();
		$('input[id$=end]').each(function () {
		 this.value = end_all;
		});
}
function handleChange_CbAll(cb) {
  if(cb.checked == true){
   $('input[type=checkbox]').each(function () {
		 this.checked = true;
		});
		updateAllStartTime();
		updateAllEndTime();
  }
	else {
		$('input[type=checkbox]').each(function () {
		 this.checked = false;
		});
	}
}
function handleChange_CbDay(cb) {
  if(cb.checked == true){
		// var cb_id = 'input[id='+cb.id+'_value]';
		// c = $(cb_id);
		// c.val(cb.id);
  }
	else {
		// var cb_id = 'input[id='+cb.id+'_value]';
		// c = $(cb_id);
		// c.val('');

		var starttime_element = 'input[id='+cb.id+'_start]';
		start_box = $(starttime_element);
		start_box.val('');

		var endtime_element = 'input[id='+cb.id+'_end]';
		end_box = $(endtime_element);
		end_box.val('');
	}
}
function updateStartTime(tb)
{
	var all_cb = $('input[id=cb_all_week]').is(':checked');
	if(all_cb == true)
	{
		updateAllStartTime();
	}
}
function updateEndTime(tb)
{
	var all_cb = $('input[id=cb_all_week]').is(':checked');
	if(all_cb == true)
	{
		updateAllEndTime();
	}
}
</script>
