<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Đặt khám online</title>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <meta name="description" content="Đặt khám online" />
    <meta name="robots" content="noodp,index,follow" />
    <meta property="og:title" content="Đặt khám online" />
    <meta property="og:description" content="Đặt khám online" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- TODO Add this to app.scss -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/chingyawhao/materialize-clockpicker/master/dist/css/materialize.clockpicker.css">
  </head>

  <body>

  <!-- Site Nav -->
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
      <%= link_to 'Datkham.Online', root_path, class: "brand-logo", id: "logo-container" %>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Doctor near me", clinics_path, method: 'get' %></li>
          <% if current_user %>
          <li><%= link_to "Request doctor", uber_doctors_path %></li>
            <!-- Dropdown Trigger -->
             <li>
               <a class='dropdown-button' href='#' data-activates='currentUserAction'>
                 <%= current_user.name %>
               </a>
             </li>
             <!-- Dropdown Structure -->
             <ul id='currentUserAction' class='dropdown-content'>
               <li><%= link_to "Account", edit_user_registration_path %></li>
               <li><%= link_to "My bookings", view_my_booking_path %></li>
               <li class="divider"></li>
               <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
             </ul>
          <% else %>
            <% if current_doctor %>
              <% if doctor_gig %>
              <li><%= link_to "My clinic", doctor_gig_doctor_view_path(current_doctor.id,doctor_gig.id)%></li>
              <% end %>
              <li><%= link_to "Home service", before_start_drlocs_path %></li>
              <!-- Dropdown Trigger -->
               <li>
                 <a class='dropdown-button' href='#' data-activates='currentDoctorAction'>
                    <%= current_doctor.name %>
                 </a>
               </li>
               <!-- Dropdown Structure -->
               <ul id='currentDoctorAction' class='dropdown-content'>
                  <li><%= link_to "Account", edit_doctor_registration_path %></li>
                  <li><%= link_to "Clinic setup", doctor_gigs_path(current_doctor.id) %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Simulate driving", before_simulator_drlocs_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign out", destroy_doctor_session_path, :method => 'delete' %></li>
               </ul>

            <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <li><%= link_to "Register", new_user_registration_path %></li>
            <% end %>
          <% end %>

        </ul>


        <!-- TODO : Update mobile menu later -->
        <ul id="nav-mobile" class="side-nav">
          <li class="nav-heading">Booking.doctor</li>
          <li><%= link_to "Doctor near me", clinics_path, method: 'get' %></li>
          <% if current_user %>
          <li><%= link_to "Request doctor", uber_doctors_path %></li>
            <!-- Dropdown Trigger -->
             <li>
               <a class='dropdown-button' href='#' data-activates='currentUserAction'>
                 <%= current_user.name %>
               </a>
             </li>
             <!-- Dropdown Structure -->
             <ul id='currentUserAction' class='dropdown-content'>
               <li><%= link_to "Account", edit_user_registration_path %></li>
               <li><%= link_to "My bookings", view_my_booking_path %></li>
               <li class="divider"></li>
               <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
             </ul>
          <% else %>
            <% if current_doctor %>
              <% if doctor_gig %>
              <li><%= link_to "My clinic", doctor_gig_doctor_view_path(current_doctor.id,doctor_gig.id)%></li>
              <% end %>
              <li><%= link_to "Home service", before_start_drlocs_path %></li>
              <!-- Dropdown Trigger -->
               <li>
                 <a class='dropdown-button' href='#' data-activates='currentDoctorAction'>
                    <%= current_doctor.name %>
                 </a>
               </li>
               <!-- Dropdown Structure -->
               <ul id='currentDoctorAction' class='dropdown-content'>
                  <li><%= link_to "Account", edit_doctor_registration_path %></li>
                  <li><%= link_to "Clinic setup", doctor_gigs_path(current_doctor.id) %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Simulate driving", before_simulator_drlocs_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign out", destroy_doctor_session_path, :method => 'delete' %></li>
               </ul>

            <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <li><%= link_to "Register", new_user_registration_path %></li>
            <% end %>
          <% end %>

        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">MENU</a>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>

      <% if alert  %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>



      <%= yield %>
    </div>

    <!-- Site Footer -->
    <footer class="page-footer grey">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <p class="grey-text text-lighten-4">
              A little effort in solving a small pain of our society 
            </p>
          </div>
          <div class="col l3 s12">
            <% unless user_signed_in? or doctor_signed_in? %>
              <h6 class="white-text">For doctors</h6>
              <ul>
                <li><%= link_to "Sign in", new_doctor_session_path, class: "white-text" %></li>
                <li><%= link_to "Sign up", new_doctor_registration_path, class: "white-text" %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Inspired by <a class="orange-text text-lighten-3" href="http://www.coderschool.vn/">CoderSchool.vn</a>
        </div>
      </div>
    </footer>

    <!-- TODO Add this to app.js -->
    <script src="https://cdn.rawgit.com/chingyawhao/materialize-clockpicker/master/dist/js/materialize.clockpicker.js"></script>
  </body>
</html>
