<h3>New user account</h3>
<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <%= f.text_field :name, autofocus: true %>
    <%= f.label :name %>
  </div>

  <div class="input-field">
    <%= f.email_field :email %>
    <%= f.label :email %>
  </div>

  <div class="input-field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="input-field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.label :password_confirmation %>
  </div>

  </br> 

  <div class="input-field">
    <%= f.label :phone %>
    <%= f.number_field :phone%>
  </div>
    
  <div class="field">
    <div><%= f.label "Date of Birth" %></div>
    <%= f.date_field :dob, class: 'datepicker' %>
  </div>

  <div class="input-field">
    <%= f.label :address %>
    <%= f.text_area :address, class: 'materialize-textarea' %>
  </div>  
    
  </br>
  <div class="input-field">
    <%= f.select :gender, ["Male", "Female"] %>
    <%= f.label :gender %>
  </div>

  <div class="input-field form-actions">
    <%= f.button "Sign up", class: "waves-effect waves-light btn", type:"submit" %>
  </div>

<% end %>


<%= render "users/shared/links" %>
